.icon {
  width: 50px;
  height: 50px;
}

body {
  padding: 30px;
}

.expand-link {
  display: inline-block;
}
.expand-link .icon-contract {
  display: none;
}
.expand-link:hover .icon-expand,
.expand-link:active .icon-expand {
  display: none;
}
.expand-link:hover .icon-contract,
.expand-link:active .icon-contract {
  display: block;
}