body,
input,
button {
	font: 14px "Trebuchet MS", sans-serif;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
}

input[type="submit"].button,
button.button {
	cursor:pointer;
	outline:none;
}

.button {
	padding:8px 16px;
	display:inline-block;
	text-decoration:none;
	border-radius:3px;
	border:0;
	margin:0;
}

.button-tiny {
	font-size: 12px;
	padding: 6px 14px;
}

.button-medium {
	font-size: 16px;
	padding: 10px 18px;
}

.button-large {
	font-size: 18px;
	padding: 12px 20px;
}

.button-primary {
	background-color:#4C9BB5;
	color:#FFF;
}

.button-primary:hover {
	background-color:#09829A;
}

.button-yellow {
	background-color: #f0ad4e;
	color:#FFF;
}

.button-yellow:hover {
	background-color: #ed9c28;
}

.button-purple {
	background-color: #a696ce;
	color:#FFF;
}

.button-purple:hover {
	background-color: #8e7ac1;
}

