body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	line-height: 1.2;
}

.wrapper {
	width: 100%;
}

.wrapper .left, 
.wrapper .right {
	float: left;
	width: calc(50% - 20px);
	padding: 10px; 
}

.alert {
	padding: 20px;
	background-color: #bbb;
	color: #fff;
	font-size: .9em;
	transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
}

.alert.close {
	opacity: 0;
}

.alert.error {
	background-color: #ff7777;
}

.alert.success {
	background-color: #55aa44;
}

.alert .close {
	position: relative;
	float: right;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	top: -10px;
	right: -10px;
}
